!.gitignore
!.keep
!/cache/templates
!/cache
/templates/.compiled/
/templates/.cache/
/templates/.config/
/templates/cache/
/admin/Plugins/temp/*
/admin/Update/temp/*
/modules/Bank/
/modules/Attack/
/modules/Items/
/modules/Housing/
/modules/Store/
/modules/Profile/
/modules/Mining/
/modules/Upgrades/

config.php
/cache/*
/cache/templates/*.php
web/install/lock
.idea/
vendor/
lock
composer.lock
